NODE_ENV=development
PORT=3000

FRONTEND_URL=http://localhost:5147

DATABASE_URL=

ADMIN_NAME=Admin
ADMIN_EMAIL=admin@example.com
ADMIN_PHONE=09120000000
ADMIN_PASSWORD=your-secure-password

JWT_ACCESS_SECRET=your-super-secret-key
JWT_ACCESS_EXPIRES_IN=15m

REFRESH_TOKEN_EXPIRES_IN_DAYS=7